Source: openlh-server
Section: gnome
Priority: extra
Maintainer: Wilson Pinto Júnior <wilson@openlanhouse.org>
Build-Depends: debhelper (>= 6), autotools-dev
Standards-Version: 3.7.3
Homepage: http://openlanhouse.org

Package: openlh-server
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, openlh-core, python-gtk2, python-sqlalchemy
Description: a LAN House and Cyber Caffe Manager for GNOME Desktop.
