Source: openlh-core
Section: gnome
Priority: extra
Maintainer: Wilson Pinto Júnior <wilsonpjunior@gmail.com>
Build-Depends: debhelper (>= 6), autotools-dev
Standards-Version: 3.7.3
Homepage: http://openlanhouse.org

Package: openlh-core
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gnutls
Description: Core libs to OpenLanhouse.
